@import '~office-ui-fabric-react/dist/sass/References.scss';

.extensionItemViewer {
  .extId {
    @include ms-font-xl;
    margin-bottom: 5px;
    sup {
      @include ms-font-s;
      margin-left: 3px;
    }
  }
  .extDescription {
    margin-top: 5px;
  }
  .extTargetTypes {
    span {
      @include ms-font-s;
      display: inline-block;
      padding: 3px 5px;
      margin-right: 2px;
    }
  }

  .extProperties {
    padding: 10px 0;
    .propertyItem {
      @include ms-font-s;
      display: inline-block;
      margin-right: 2px;
      margin-bottom: 4px;
      padding: 2px 4px;
      .name {
        @include ms-fontWeight-semibold;
      }
      .type {
        @include ms-fontWeight-regular;
        opacity: 0.7;
      }
    }
  }
}
