@import '~office-ui-fabric-react/dist/sass/References.scss';

.colorScheme {
  .item {
    margin: 0 0 15px;
    width: 100%;
    padding: 2px 0;
    text-align: center;
    font-size: 0.75rem;
    font-weight: bold;
    color: #fff;
  }
}
