@import '~office-ui-fabric-react/dist/sass/References.scss';
@import '~swiper/swiper.scss';
@import '~swiper/components/scrollbar/scrollbar';

.spSlider {
  display: block;
  .image {
    max-height: 740px;
    object-position: center;
    object-fit: cover;
    display: block;
    width: 100%;
  }
}
